.Albums_main-container {
    min-height: 100vh;
}

.Albums_no-albums-found {
    color: #b5b4b4 !important;
}

.Albums_paper {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

.Albums_details {
    padding: 20px;
}

.Albums_author-label {
    font-size: 12px;
}
.Albums_content{
    width: 100%;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: 300px !important;
}
